body {
    background-color: rgb(255, 255, 255);
}
h1 {
    color:#0000FF;
    margin-left: 20px;
    text-align:left-align;
}
h4 {
    color:#cad1e8
}
li {
    color:#00FF00
}
p {
    border: 2px solid rgb(0, 0, 0);
    text-align:left-align;
}
div{
    text-align: center;
    display : 4%;
}